POSTGRES_DB=advanced_efcore_shared
POSTGRES_USER=advanced_efcore_user
POSTGRES_PASSWORD=advanced_efcore_password
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050
