POSTGRES_DB=secure_connections_db
POSTGRES_USER=secure_connections_user
POSTGRES_PASSWORD=change_me_in_local_secrets
POSTGRES_PORT=5433


# POSTGRES_DB=secure_connections_db
# POSTGRES_USER=secure_connections_user
# POSTGRES_PASSWORD=change_me_in_local_env
# POSTGRES_PORT=5433
