# .NET Core build outputs
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio solution user options
*.rsuser

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/

# Visual Studio cache/options directory
.vs/

# JetRider Rider
.idea/

# Visual Studio Code
.vscode/

# macOS
.DS_Store
