@page
@{
    ViewData["Title"] = "Home";
}

<h1>Hi there visitor and welcome to Planet Wrox</h1>
<p class="Introduction">
    We're glad you're paying a visit to
    <a href="http://www.PlanetWrox.com">www.PlanetWrox.com</a>,
    the coolest music community site on the Internet.
</p>
<p class="Introduction">
    Feel free to have a <a href="/">look around</a>;
    there are lots of interesting <strong>reviews and concert pictures</strong>
    to be found here.
</p>

