polars==0.20.5
numpy==1.26.4
gradio==5.34.0
pandas==2.2.1
matplotlib==3.10
cachetools==5.3.3
faker==37.4.0
plotly==5.19.0
seaborn==0.13.2
folium==0.19.6
geopy==2.4.1
scikit-learn==1.6.1
kaleido==0.2.1