<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 01-HelloSignalR</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_01_HelloSignalR.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="site-header">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">01-HelloSignalR</a>
                <ul class="site-nav">
                    <li><a class="nav-link" asp-area="" asp-page="/Index">Home</a></li>
                    <li><a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            ASP.NET Core SignalR demo for ITEC323.
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
