# Built application files
*.apk
*.aar
*.ap_
*.aab

# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio
*.iml
.idea/
.DS_Store

# Keystore
*.jks
*.keystore

# External native build
.externalNativeBuild/
.cxx/

# Android Profiling
*.hprof
