@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<h1 class="display-5">Projects</h1>
<p class="lead">A selection of work and experiments.</p>

<div class="row g-4 mt-2">
    <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h2 class="card-title h5">Project One</h2>
                <p class="card-text">Short description of the project and technologies used.</p>
                <a href="#" class="card-link">View project &rarr;</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h2 class="card-title h5">Project Two</h2>
                <p class="card-text">Short description of the project and technologies used.</p>
                <a href="#" class="card-link">View project &rarr;</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h2 class="card-title h5">Project Three</h2>
                <p class="card-text">Short description of the project and technologies used.</p>
                <a href="#" class="card-link">View project &rarr;</a>
            </div>
        </div>
    </div>
</div>
